@import "tailwindcss";

:root {
  --background: #F9F6F0;
  --foreground: #0146A4;
}

@theme inline {
  --color-brand-blue-dark: #0146A4;
  --color-brand-blue: #3270C4;
  --color-brand-accent: #FFD991;
  --color-brand-light: #FFE9C0;
  --color-brand-cream: #F9F6F0;

  --font-poppins: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
